<div class='space-y-2'>
  <h2 class='font-semibold text-gray-700'>
    Sync Rules
  </h2>

  <ul class='grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3'>
    {{#each @model.syncRules as |rule|}}
      <li class='bg-white shadow-lg rounded-lg'>
        <div class='p-4 block'>
          {{rule.name}}
        </div>
      </li>
    {{else}}
      <li class='bg-white shadow-lg rounded-lg'>
        <div class='p-4 block'>
          <LinkTo @route='rules.create'>
            Add New Sync Rule
          </LinkTo>
        </div>
      </li>
    {{/each}}
  </ul>
</div>