<div class='space-y-2'>
  <h2 class='font-semibold text-gray-700'>
    Sync Rules
  </h2>

  <ul class='grid grid-cols-1 gap-4'>
    {{#each @model.syncRules as |rule|}}
      <li class='bg-white shadow-lg rounded-lg'>
        <div class='p-4 block'>
          {{rule.name}}
        </div>
      </li>
    {{else}}
      <li class='bg-white rounded-lg p-4 flex items-center justify-center'>
        <Button @intent='primary' @isRenderless={{true}} as |btn|>
          <LinkTo class={{btn.classNames}} @route='rules.create'>
            Add New Sync Rule
          </LinkTo>
        </Button>
      </li>
    {{/each}}
  </ul>
</div>