<li class='bg-white shadow-lg rounded-lg'>
  <div class='p-4 flex justify-between'>
    <div>
      {{@source.name}} ({{@source.sourceType}})
    </div>
    <Button @intent='warning' @appearance='minimal' @size='xs'>
      Delete
    </Button>
  </div>
</li>