{{breadcrumb
  @model.mapping.name
  route='dataset.mapping'
  models=(array @model.mapping.pk)
}}

<div>
  <h2 class='text-lg font-semibold text-gray-700'>
    {{@model.mapping.name}}
  </h2>

  <p class='text-gray-500'>
    {{@model.mapping.description}}
  </p>
</div>

<div class='mt-4'>
  {{outlet}}
</div>