{{breadcrumb
  @model.mapping.name
  route='dataset.mapping'
  models=(array @model.mapping.pk)
}}

<div>
  <h2 class='text-lg font-semibold text-gray-700'>
    {{@model.mapping.name}}
  </h2>
</div>

<Mapping::Details @mapping={{@model.mapping}} />

<div class='mt-4'>
  {{outlet}}
</div>