{{page-title 'MapGeo Sync'}}

<header class='flex items-center p-2 bg-gray-100'>
  <div class='flex items-center'>
    <img class='max-h-8 mr-1' src='/assets/logo.png' alt='mapgeo' />
    <div class='text-lg text-gray-500 font-semibold'>
      Sync
    </div>
  </div>

  <nav>
  </nav>
</header>

<main class='h-full bg-gray-100'>
  {{outlet}}
</main>