{{breadcrumb
  'Setup Sync'
  route='dataset.mapping.setup'
  models=(array @model.dataset.id @model.mapping.pk)
}}

<div class='shadow rounded bg-white p-4'>
  <h3 class='font-semibold text-gray-700'>
    Setup Sync
  </h3>
</div>