<div local-class='list-controls'>
  <Button
    local-class='primary'
    @appearance='outlined'
    @intent='primary'
    @size='sm'
    @disabled={{@disabled}}
    {{on 'click' @onClick}}
  >
    {{yield to='primary'}}
  </Button>

  <BasicDropdown @horizontalPosition='right' as |dd|>
    <dd.Trigger>
      <Button
        local-class='more'
        @appearance='outlined'
        @intent='primary'
        @size='sm'
      >
        <FaIcon @icon='ellipsis-v' />
      </Button>
    </dd.Trigger>
    <dd.Content local-class='dropdown'>
      {{yield
        (hash close=dd.actions.close classNames='p-2 font-normal')
        to='secondary'
      }}
    </dd.Content>
  </BasicDropdown>
</div>